*{background-color: black;}
div p{position: absolute; background-color: blue    ;width: 70%;height: 40%;left: 15%;}
div{position: relative; background-color: aliceblue; min-height: 40vh;}
div button{position: relative;top: 40vh; width: 70vw;height: 30px;}